<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<title>Siduk DKI</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	     <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	</head>

    <body>
    	<section class="content-header">
			<h1>
				<small>Sistem Kependudukan Online Provinsi DKI Jakarta</small>
			</h1>
			<ol class="breadcrumb">
				<li><a th:href="@{/}">Home</a></li>
			</ol>
		</section>
       	<h3 th:text="'Data Nomor = ' + ${nomor}+ ' berhasil ditambahkan!'"></h3>
		<div class="box-footer">
			<div class="pull-left">
				<a th:href="@{/penduduk?nik=__${nomor}__}"
					class="btn btn-primary btn-block btn-flat">Lihat Data</a>
			</div>
		</div>
    </body>
</html>
